@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-thumb{
    border-radius: 30px;
    background-color: rgb(95, 95, 95);
    transition: ease-in-out;
    transition-delay: 0.2s;
}